body{
  background-color:black;
  color:white;
  font-family:helevetica;
}
a{
	color:red;
}
.logo{
	width:1400px;
	margin:20px;
	height:350px;
}
.movietitle{
	font-size:75px;
	margin:60px;
	text-align:center;
	position:relative;
	left:200px;
	font-weight:bold;
}
.posteralign{
	display:block;
	height:800px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	left:200px;
}
.storyline{
	text-align:left;
	margin:60px;
	font-size:100px;
}
.story{
	text-align:center;
	margin:10px;
	font-size:30px;
	width:1000px;
	border:solid 15px red;
	border-radius:30px;
	padding:30px;
	position:relative;
	left:160px;
}
.ratings{
	text-align:center;
	margin:100px;
	font-size:78px;
	color:crimson;
	position:relative;
	left:200px;
	font-weight:bold;
}
.imdb{
	text-align:left;
	font-size:50px;
	margin:45px;
	position:relative;
	bottom:50px;
}
.download{
	text-align:left;
	font-size:50px;
	margin:50px;
}
.downloadingmethod{
	margin:30px;
	font-size:26px;
	position:relative;
	left:50px;
	text-align:left;
}
.torrent{
	text-align:left;
	font-size:40px;
	margin:50px;
}
.links{
	font-size:35px;
	margin:40px;
	text-align:left;
}
.subtitlestitle{
	position:relative;
	top:70px;
	font-size:40px;
	margin:50px;
	text-align:left;
}
.subtitle{
	position:relative;
	left:10px;
	font-size:30px;
	margin:50px;
	top:50px;
}
.tamil{
	position:relative;
	margin:50px;
	top:100px;
	font-size:40px;
}
.linkstamil{
	position:relative;
	margin:40px 40px 300px 40px;
	font-size:25px;
	text-align:center;
	top:100px;
}