body{
background-color:black;
color:white;
font-family:helevetica;
margin:10px;
}
a{
	color:red;
}
.logo{
	width:1400px;
	margin:20px;
	height:350px;
}
.motto{
	text-align:center;
	font-size:100px;
	position:relative;
	left:200px;
	bottom:100px;
}
.motto2{
	text-align:center;
	font-size:40px;
	margin:20px;
	position:relative;
	left:170px;
	bottom:100px;
}
.series{
	text-align:left;
	font-size:70px;
	position:relative;
	bottom:70px;
	margin:30px;
}
.heronameseries{
	margin:40px;
	text-align:left;
	font-size:70px;
	margin:30px;
	position:relative;
	bottom:40px;
}
.firstfilm{
	margin:30px;
	height:550px;
	width:550px;
}
.secondfilm{
	margin:30px;
	height:550px;
	width:550px;
	position:relative;
	left:800px;
	bottom:620px;
}
.thirdfilm{
	margin:30px;
	height:550px;
	width:550px;
	position:relative;
	left:400px;
	bottom:230px;
}
.firstmoviename{
	font-size:70px;
	text-align:left;
	position:relative;
	left:100px;
	bottom:1200px;
}

.secondmoviename{
	font-size:70px;
	text-align:right;
	position:relative;
	bottom:1320px;
	left:400px;
}
.thirdmoviename{
	font-size:70px;
	text-align:center;
	position:relative;
	bottom:450px;
	left:185px;
}
.firstmovielink{
	position:relative;
	bottom:1400px;
	left:90px;
	font-size:36px;
}
.secondmovielink{
	position:relative;
	bottom:1400px;
	font-size:36px;
	left:390px;
}
.thirdmovielink{
	position:relative;
	bottom:450px;
	font-size:35px;
	left:450px;
	font-weight:bold;
}
.secondbarfilm{
	margin:30px;
	height:550px;
	width:550px;
	position:relative;
	left:800px;
	bottom:620px;
}
.firstbarmoviename{
	position:relative;
	margin:30px;
	font-size:70px;
	bottom:620px;
	left:80px;
	text-align:left;
}
.secondbarmoviename{
    font-size:70px;
	text-align:right;
	margin:30px;
	position:relative;
	bottom:720px;
	left:420px;
}
.secondbarmovielink{
	position:relative;
	bottom:630px;
	font-size:36px;
	left:500px;
}
.firstbarmovielink{
	position:relative;
	bottom:630px;
	left:95px;
	font-size:36px;
}
.heronamesingleseries{
	margin:40px;
	text-align:left;
	font-size:70px;
}
.firstmoviesinglename{
	margin:50px;
	text-align:left;
	font-size:70px;
}
.firstbarsinglemovielink{
	position:relative;
	bottom:0px;
	left:60px;
	font-size:36px;
	margin-bottom:100px;
	margin:50px;
}
.web{
	text-align:left;
	font-size:100px;
	position:relative;
	margin:80px;
}
.avengerfirstmovielink{
	position:relative;
	bottom:630px;
	left:95px;
	font-size:36px;
}
.avengersecondmovielink{
	position:relative;
	bottom:630px;
	font-size:36px;
	left:500px;
}
.firstthreefilm{
	margin:30px;
	height:550px;
	width:550px;
}
.secondfourfilm{
	margin:30px;
	height:550px;
	width:550px;
	position:relative;
	left:800px;
	bottom:620px;
}
.firstbarmoviename{
	font-size:70px;
	text-align:left;
	position:relative;
	left:60px;
}
.firstmoviesinglename{
	font-size:70px;
	text-align:left;
	position:relative;
	left:60px;
}